
<!-- <div class="font-imul hero bg-base-200 min-h-screen overflow-hidden">
  <div class="hero-content flex-col lg:flex-row">
    <div
      class="relative max-w-sm mb-5 mt-5 lg:translate-x-1/4 lg:-translate-y-5 lg:mb-0 lg:mt-0 order-1"
    >
      <img
        src="/assets/img/img2.jpeg"
        class="relative rounded-3xl size-56 md:size-72 lg:size-max border-4 border-teal-600 border-opacity-100"
      />
    </div>

    <div
      class="lg:text-left text-center lg:translate-x-40 lg:-translate-y-6 order-2"
    >
      <h1
        class="mb-4 text-4xl font-extrabold text-base-content dark:text-gray-900 md:text-5xl lg:text-6xl"
      >
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
          >About</span
        >
        Me
      </h1>

      <p
        class="text-base md:text-lg font-imul text-gray-500 lg:text-xl dark:text-base-content lg:text-left text-center lg:w-3/4"
      >
        Halo, perkenalkan nama saya Ficky febryan saputra. Saat ini, saya
        memiliki profesi sebagai seorang programmer dan saya bekerja sebagai
        seorang freelancer.
        <br /><br />
        Dalam keseharian, saya mengembangkan [contoh aplikasi], contohnya dengan
        [contoh kegiatan].
        <br /><br />
        Minat utama saya adalah di bidang development software terutama dalam
        hal mempelajari teknologi-teknologi terbaru seperti AI, cloud computing,
        operating system, serta bagaimana mereka bisa diterapkan untuk
        menciptakan solusi yang inovatif dan berdampak bagi masa depan.
      </p>
    </div>
  </div>
</div> -->
