<div class="bg-base-200 flex w-full flex-col py-20">
  <div class="card bg-teal-200 rounded-s-full grid h-auto place-items-center mb-12 self-end ml-auto">
    <img src="/assets/img/vision.png" alt="Vision" class="w-20 h-20 mt-3" />
    <h1
    class="text-4xl font-extrabold text-slate-600 dark:text-gray-900 uppercase"
    >
      Vision
    </h1>
    <p
      class="text-md font-imul text-gray-700 dark:text-base-content text-center max-w-2xl pb-3 md:mx-20"
    >
      Menjadi seorang programmer yang inovatif dan terampil dalam menggabungkan
      kreativitas dengan keahlian teknis, serta memberikan kontribusi positif
      melalui pengembangan perangkat lunak, pengembangan game, dan pengembangan
      desain web. Saya berkomitmen untuk menciptakan solusi yang efektif dan
      berdampak, sambil terus belajar dan beradaptasi dalam berbagai aspek
      kehidupan.
    </p>
  </div>

  <div class="card bg-teal-200 rounded-e-full grid h-auto place-items-center mt-12 self-start mr-10">
    <img src="/assets/img/mision.png" alt="Vision" class="w-20 h-20 mt-3" />
    <h1
    class="text-4xl font-extrabold text-slate-600 dark:text-gray-900 uppercase"
    >
      Mision
    </h1>
    <ol class="list-decimal list-inside text-md font-imul text-gray-700 dark:text-base-content text-justify pb-3 md:px-32">
      <li>Mengembangkan keterampilan pemrograman.</li>
      <li>Menjaga keseimbangan antara pekerjaan dan hobi.</li>
      <li>Berbagi kreativitas dan pengalaman.</li>
      <li>Mengembangkan kemampuan strategi.</li>
      <li>Terus belajar dan beradaptasi.</li>
    </ol>
  </div>
</div>