<div class="bg-base-200 flex w-full flex-col py-20">

  <div class="card bg-teal-200 rounded-s-full grid h-auto place-items-center mb-12 self-end ml-auto animate__animated animate__slideInRight animate__delay-1s" style="--animate-delay: 0.3s">
    <img src="/assets/img/vision.png" alt="Vision" class="md:w-20 md:h-20 w-16 h-16 mt-3 ml-10 md:ml-px" />
    <h1
    class="md:text-4xl text-3xl font-extrabold text-slate-600 dark:text-gray-900 uppercase ml-12 md:ml-px"
    >
      Vision
    </h1>
    <p
      class="text-sm md:text-base font-imul text-gray-700 dark:text-base-content text-right md:text-center pl-10 pr-2 pb-12 md:px-3 max-w-2xl md:pb-3 md:mx-20"
    >
      Menjadi seorang programmer yang inovatif dan terampil dalam menggabungkan
      kreativitas dengan keahlian teknis, serta memberikan kontribusi positif
      melalui pengembangan perangkat lunak, pengembangan game, dan pengembangan
      desain web. Saya berkomitmen untuk menciptakan solusi yang efektif dan
      berdampak, sambil terus belajar dan beradaptasi dalam berbagai aspek
      kehidupan.
    </p>
  </div>

  <div class="card bg-teal-200 rounded-e-full grid h-auto place-items-center mt-12 self-start mr-10 animate__animated animate__slideInLeft animate__delay-1s" style="--animate-delay: 0.5s;">
    <img src="/assets/img/mision.png" alt="Vision" class="md:w-20 md:h-20 w-14 h-14 mt-3 mr-10 md:mr-px" />
    <h1
    class="md:text-4xl text-3xl font-extrabold text-slate-600 dark:text-gray-900 uppercase mr-12 md:mr-px"
    >
      Mision
    </h1>
    <ol class="list-decimal list-inside text-sm md:text-base font-imul text-gray-700 dark:text-base-content text-left md:text-justify pb-8 pl-2 pr-8 md:px-32">
      <li>Mengembangkan keterampilan pemrograman.</li>
      <li>Menjaga keseimbangan antara pekerjaan dan hobi.</li>
      <li>Berbagi kreativitas dan pengalaman.</li>
      <li>Mengembangkan kemampuan strategi.</li>
      <li>Terus belajar dan beradaptasi.</li>
    </ol>
  </div>

</div>