/* .content-container {
  width: 350px;
  min-height: 200px;
  background-color: #f8f8f8;
  border-radius: 8px;
} */

.tab-container {
  perspective: 62.5rem; 
}

.tab {
  transform-origin: center;
  transform-style: preserve-3d; 
  backface-visibility: hidden; 
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transition-duration: 0.8s;
  font-size: 2.5rem; 
  width: 100%; 
  height: 5rem; 
}

.tab.selected {
  background-color: rgb(15, 118, 110);
  color: white;
  transform: scale(1.2) rotateY(360deg);
  z-index: 10; 
}

.tab.not-selected {
  transform: scale(0.8) rotateY(0deg); 
  opacity: 0.6;
}

.tab.top {
  transform: translateY(-30px) scale(0.8) rotateY(0deg); 
}

.tab.bottom {
  transform: translateY(30px) scale(0.8) rotateY(0deg); 
}

.tab.hidden {
  display: none;
}
