<div class="font-imul hero bg-base-200 min-h-screen">
  <div> 
    <img
      src="/assets/img/shapebg.png"
        class="hidden lg:block lg:max-w-sm lg:translate-x-80 lg:-translate-y-11"
      />
  </div>
  <div class="hidden md:block">
    <img
      src="/assets/img/img1.png"
      class="hidden lg:block lg:max-w-sm lg:translate-x-80 lg:-translate-y-12"
    />
  </div>
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="/assets/img/img1.png"
      class="max-w-sm -translate-y-5 lg:hidden"
    />
    <div class="ml-14">
      <p class="text-xl font-bold">Hi there!</p>
      <h1 class="text-6xl font-bold">
        I am <span class="text-teal-700">Ficky</span><br>Febryan
      </h1>
      <p class="text-4xl mt-3 py-1 tracking-wider">I am a <span class="text-teal-700">web developer</span></p>
      <p class="text-lg w-1/2 mb-3">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <button
        class="btn rounded bg-teal-700 hover:bg-teal-900 text-slate-100 text-sm w-36 h-12"
      >
        Hire Me
      </button>
    </div>
  </div>
</div>
