<div class="bg-base-200 min-h-screen">
  <div class="flex w-full flex-col lg:flex-row pt-32">
    <div
      class="card bg-base-100 rounded-box grid h-32 flex-grow place-items-center"
    >
      <img src="/assets/img/Bermain-Musik.jpg" alt="" class="w-auto h-28 rounded-lg" />
    </div>
    <div class="divider lg:divider-horizontal"></div>
    <div
      class="card bg-base-100 rounded-box grid h-32 flex-grow place-items-center"
    >
    <img src="/assets/img/playing-games.jpg" alt="" class="w-auto h-28 rounded-lg" />
    </div>
  </div>
</div>
