<div class="bg-base-200 min-h-screen">
  <div class="flex w-full flex-col lg:flex-row py-20">
    <div
      class="card bg-base-100 rounded-box grid w-auto h-auto py-9 flex-grow place-items-center"
    >
      <img
        src="/assets/img/Bermain-Musik.jpg"
        alt=""
        class="w-80 h-52 rounded-lg"
      />
      <h1
        class="mt-4 text-4xl font-extrabold text-base-content dark:text-gray-900 md:text-5xl lg:text-5xl"
      >
        Bermain Musik
      </h1>
      <p
        class="text-base md:text-lg font-imul text-gray-500 lg:text-lg dark:text-base-content text-justify px-10 lg:px-4 lg:w-3/4 mt-5"
      >
      Sejak kecil, saya memiliki ketertarikan mendalam pada musik. 
      Saya suka memainkan berbagai alat music seperti gitar, ukulele, pianica, dan seruling di waktu luang, 
      menciptakan melodi baru, dan bereksperimen dengan berbagai genre musik yang ada. 
      Musik bagi saya adalah cara untuk mengekspresikan perasaan dan melepas penat setelah menjalani hari yang sibuk. 
      Saya juga pernah mengikuti komunitas musik lokal di sekolah untuk belajar berkolaborasi dengan musisi lain dan 
      memperluas wawasan musikal saya.
      </p>
    </div>
    <div class="divider divider-neutral lg:divider-horizontal"></div>
    <div
      class="card bg-base-100 rounded-box grid w-auto h-auto py-9 flex-grow place-items-center"
    >
      <img
        src="/assets/img/playing-games.jpg"
        alt=""
        class="w-80 h-52 rounded-lg"
      />
      <h1
        class="mt-4 text-4xl font-extrabold text-base-content dark:text-gray-900 md:text-5xl lg:text-5xl"
      >
        Bermain Game
      </h1>
      <p
        class="text-base md:text-lg font-imul text-gray-500 lg:text-lg dark:text-base-content text-justify px-10 lg:px-4 lg:w-3/4 mt-5"
      >
      Selain itu, saya juga gemar bermain video game, khususnya game dengan elemen strategi dan petualangan. 
      Bermain game memberikan saya tantangan untuk berpikir kritis, membuat keputusan cepat, dan merancang strategi untuk mencapai tujuan. 
      Hobi ini tidak hanya sekadar hiburan, tetapi juga mengasah kemampuan problem solving dan teamwork, 
      terutama ketika bermain secara online bersama teman-teman. Kombinasi antara hobi bermain musik dan bermain game mencerminkan 
      sisi kreatif dan analitis saya, serta semangat untuk terus belajar dan beradaptasi dalam situasi yang berbeda-beda.       </p>
    </div>
  </div>
</div>
