<div class="hero bg-base-200 pb-60 pt-32">
  <div class="hero-content text-center">
    <div class="max-w-5xl">
      <h1 class="text-2xl lg:text-5xl font-imul font-bold">
        <span class="font-serif text-gray-50 dark:text-gray-950 text-3xl lg:text-6xl">“</span
        ><span class="italic"
          >Terus belajar untuk beradaptasi dan memperlajari hal-hal baru adalah
          cara saya untuk maju ke masa yang akan mendatang</span
        ><span class="font-serif text-gray-50 dark:text-gray-950 text-3xl lg:text-6xl">”</span>
      </h1>
    </div>
  </div>
</div>